@use 'base.scss';
@use 'text-fields.scss';
@use 'connexion-block.scss';
@use 'film-serie-or-watchlist-page.scss';
@use 'buttons.scss';
@use 'tile.scss';

body {
    margin: 0;
    padding: 0;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

.loadingErrorMessage {
    color: rgb(255, 80, 80);
    font-size: 1.2em;
    padding-top: 10px;
    text-align: center;
}

.big-margin-container {
    margin: 10px 30%;
}

.basic-margin-container {
    margin: 10px 18%;
}

.small-margin-container {
    margin: 10px 10%;
}

l-dot-spinner {
    display: block;
    margin: 20px auto 0 auto;
}

a {
    text-decoration: none;
    color: white;
}