@use 'base.scss';
@use 'text-fields.scss';
@use 'connexion-block.scss';
@use 'film-serie-or-watchlist-page.scss';

body {
    margin: 0;
    padding: 0;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

.basic-padding-container {
    padding: 10px 18%;
}