.text-field {
    display: block;
    background-color: transparent;
    color: white;
    width: 100%;
    font: inherit;
    font-size: 1.2em;
    padding: 10px;
    margin-bottom: 10px;
    border: solid lightgray 2px;
    border-radius: 10px;
}

.text-field-label {
    display: block;
    padding: 10px 0;
    font-size: 1.2em;
}

.long-text-area {
    @extend .text-field;
    
    resize: none;
    height: 50px;
}
