.tile {
	position: relative;
	border-radius: 20px;
	display: flex;
	gap: 15px;
	padding: 15px;
	align-items: center;
	width: 100%;
    transition: background-color 0.1s;

	.tile-text {
		flex-grow: 1;

		.tile-title {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1;
		}
	}

    button {
        flex-grow: 0;
    }
}

.tile:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.tile:active {
	background-color: rgba(255, 255, 255, 0.2);
}

.tile-paragraph {
	display: -webkit-box;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
  	overflow: hidden;
	max-height: 250px;
	width: 100%;
}

.tile-paragraph-smaller {
	@extend .tile-paragraph;
	-webkit-line-clamp: 3;
}

.poster-tile {
	border-radius: 10px;
	width: 150px;
	flex-grow: 0;
}

.poster-tile-smaller {
	@extend .poster-tile;
	width: 100px;
}